body {
    overflow-y: hidden; 
    overflow-x: hidden; 
    border: 2px solid black;
    outline: rgb(63, 91, 104) solid 10px;
}
    .menuDiv {
    background-color: rgb(40, 40, 44);    
    text-align: left;
    float: left;
    width: 20%;
}
    #container {
background-color: rgb(40, 40, 44);   
overflow: hidden;
width: 80%;
height: 100%;

}

#inner {
overflow: hidden;
width: 100%;
}

.viewHome {
float: left;
background-color: rgb(56, 99, 116); /* Green */
width: 50%;
height: 100%;
/* border-radius: 15px;
border-style: solid; */
border-width: .1px;
}
.viewHomeTotal {
float: left;
background-color: rgb(56, 116, 103); /* Green */
width: 50%;
height: 50%;
/* border-radius: 15px;
border-style: solid; */
border-width: .1px;
}
.linkHome {
float: left;
background-color: rgb(116, 56, 113); /* Green */
width: 50%;
height: 100%;
/* border-radius: 15px; */
/* border-style: solid; */
border-width: .1px;
}
    
.menuButton {
    background-color: rgb(56, 62, 116); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    width: 95%;
    height: 50%;
    transition-duration: 0.4s;
}
.text {
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

    
    
}
h1{
    color:white
}
body{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menuButton:hover {
background-color: #4CAF50;
color: white;
}
select {
width: 99.5%;
padding: 16px 20px;
border: none;
border-radius: .5px;
background-color: #ffffffef;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.proxyList{
    width: 100%;
    height: 100%;
    padding: 5px;
    resize: none;
    background-color:rgb(56, 99, 116);
    color: white;
    font-size: medium;

}
.proxyList::placeholder{
    color: grey;
    line-height: 1000%;
    text-align: center;
    overflow: hidden;
    font-size:large;

}
.searchPara{
    width: 100%;
    height: 100%;
    padding: 5px;
    resize: none;
    background-color:rgb(116, 56, 113); 
    color: white;
    font-size: medium;

}
.searchPara::placeholder{
    color: grey;
    line-height: 1000%;
    text-align: center;
    overflow: hidden;
    font-size:large;

}